<br>

<%= form_for :article, url: articles_path do |f| %>


  <%= f.text_field :title, class: "title" %>

  <%= f.cktext_area :text, class: "ckeditor" %>
 
  <p class="submit">
    <%= f.submit %>
  </p>
<% end %>