<div class="container">
  <p><%= link_to '< Back', article_path(@article), class: 'back-link ruby' %></p>
	<h1>Edit Article</h1>

	<%= render "articles/form" %>
  <p><%= link_to '< Back', article_path(@article), class: 'back-link ruby' %></p>
</div>