<div class="container">
	<p class="title-text">Crafting the <span class="ruby">world</span> of tomorrow through <span class="ruby">code</span>.</p>
</div>

<div class="container">
  <% @articles.each do |article| %>
    <p class="index-blog-date ruby"><%= format_time(article.created_at) %></p>
    <p class="index-blog-title"><%= link_to article.title, article_path(article) %></p>
    <br>
  <% end %>	
</div>
