<div class="container article-form">
  <p><%= link_to '< Back', articles_path, class: 'back-link ruby' %></p>
  <h1>New Article</h1>

  <%= render "articles/form" %>
  <p><%= link_to '< Back', articles_path, class: 'back-link ruby' %></p>
</div>

