<div class="container" id="resume">

  <header id="title_stack">
    <h1>Sam Webb</h1>
    <hr>
    <h4>510samwebb@gmail.com | (808) 397-6646 | San Diego, CA</h4>
    <br>
  </header>

  <section class="res_section">
    <h2>Objective</h2>
    <p>An experienced Full-stack Developer in search of a rewarding position that is technically challenging and provides ample opportunities for personal and professional growth.</p>
  </section>

  <section class="res_section">
    <h2>Key Qualifications</h2>
    <ul>
      <li>JavaScript</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Front-end Web Development</li>
      <li>jQuery</li>
      <li>AngularJS</li>
      <li>Object Oriented Programming</li>
      <li>Debugging</li>
      <li>Test Driven Development</li>
      <li>Version Control (Git)</li>
      <li>Leadership</li>
    </ul>
  </section>

  <section class="res_section">
    <h2>Experience</h2>
    <h3>Web Development</h3>
    <ul>
      <li>Designed, developed, and pushed to production 7 responsive, accessible, scalable web applications.</li>
      <li>Contributed to Faker, an open source project written in Ruby to input large amounts of fake data into a Ruby on Rails application while still in development.</li>
    </ul>

    <h3>JavaScript</h3>
    <ul>
      <li>Created and still maintains an open source project called EasifyJS, a JavaScript library that provides a developer with 60+ utility functions to help make the development process faster and simpler.</li>
    </ul>

    <h3>Leadership</h3>
    <ul>
      <li>Responsible for the day-to-day management, training, and professional development of 7 people, which helped keep everyone in the best position for success and produced high-quality, timely task completion. </li>
    </ul>
  </section>

  <section class="res_section">
    <h2>Employment History</h2>
    <ul>
      <li>2009-2016 Radio-Intelligence Operator at United States Navy</li>
    </ul>
  </section>

  <section class="res_section">
    <h2>Certifications</h2>
    <ul>
      <li>JQuery Essential Training, Lynda.com, December 2015</li>
      <li>JavaScript: Events, Lynda.com, December 2015</li>
      <li>JavaScript and JSON, Lynda.com, December 2015</li>
      <li>JQuery Data with AJAX, Lynda.com, December 2015</li>
      <li>Debugging the Web: JavaScript, Lynda.com, December 2015</li>
      <li>JQuery: Creating Plugins, Lynda.com, December 2015</li>
      <li>JavaScript: Understanding the Weird Parts, Udemy, August 2015</li>
      <li>Learn and Understand AngularJS, Udemy, August 2015</li>
      <li>Learn and Understand NodeJS, Udemy, October 2015</li>
      <li>Learn Ruby, Treehouse Inc,. June 2015</li>
      <li>PHP Development, Treehouse Inc., December 2014</li>
      <li>Learn Python, Treehouse Inc, November 2014</li>
      <li>Front End Web Development, Treehouse Inc., June 2014</li>
    </ul>
  </section>

</div>


