<div id="home-page">
  <header>
    <div class="container">
      <h1>Web Developer</h1>
      <div class="call-to-action">
        <%= link_to "Portfolio", home_portfolio_path %>
        <%= link_to "Contact", home_contact_path %>
      </div>
    </div>
  </header>
  <div id="intro">
    <section class="container home-section" id="intro">
      <h2>As a Full Stack Web Developer...</h2>
      <p>My goal is to understand the problems you're facing and to work with you to solve them. The main way I do this is by using technologies including: HTML5, CSS3, JavaScript and Ruby on Rails to build small and large scale web applications.</p>
    </section>
  </div>

</div>
