<header class="main-hero index-hero">
  <div class="container hero-container">
    <h1 class="hero-title">Web Developer</h1>
  </div>
</header>

<div id="home-page">
  <div id="intro">
    <section class="container home-section">
      <h2>Front End Dev By Job Title, Full Stack Dev At Heart</h2>

      <p>My name is Sam, and I am a Front End Developer at a company called Brand Value Accelerator (BVA for short). My main responsibility is to help clients take their businesses to the next level by building fast, responsive and maintainable ecommerce sites built on top of the <%= link_to "Shopify", "https://www.shopify.com/", class: 'inline-link' %> platform.</p>

      <p>In my personal time, I prefer to venture out into Full Stack Development using Ruby and NodeJS . I also like to hike, play guitar, play video games and I'm starting to get more into single board (Raspberry PI, Pine64, Arduino, etc.) computer projects.</p>
    </section>
  </div>

  <section class="container home-section" id="recent-projects">
    <h2>A Few of My Projects...</h2>
    <div id="preview-images">
      <a href="https://usnames.herokuapp.com" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/usnames_website.png" alt="Sam Webb Website preview"></a>
      <a href="https://mealpicker.herokuapp.com" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/mealpicker_website.png" alt="Tribal Dev Website preview"></a>
      <a href="http://samwebb.me" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/sw_website.png" alt="Alice Jobs Website preview"></a>
    </div>

    <div id="more-projects">
      <%= link_to "All Projects", home_portfolio_path, class: 'btn' %>
    </div>

  </section>

</div>
