<div id="home-page">
  <header>
    <div class="container">
      <h1>Web Developer</h1>
      <div class="call-to-action">
        <%= link_to "My Work", home_portfolio_path %>
        <%= mail_to "510samwebb@gmail.com" do %>
          Hire Me
        <% end %>
      </div>
    </div>
  </header>
  <div id="intro">
    <section class="container home-section">
      <h2>As a Full Stack Web Developer...</h2>
      <p>My goal is to understand the problems you're facing and to work with you to solve them. The main way I do this is by using technologies including: HTML5, CSS3, JavaScript and Ruby on Rails to build small and large scale web applications.</p>
    </section>
  </div>

  <section class="container home-section" id="recent-projects">
    <h2>A Few of My Projects...</h2>
    <div id="preview-images">
      <a href="http://samwebb.me" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/sw_website.png" alt="Sam Webb Website preview"></a>
      <a href="http://tribalblog.herokuapp.com" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/tribal_dev.png" alt="Tribal Dev Website preview"></a>
      <a href="http://alicejobs.com" target="_blank"><img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/alice_jobs.png" alt="Alice Jobs Website preview"></a>
    </div>

    <div id="more-projects">
      <%= link_to "All Projects", home_portfolio_path %>
    </div>

  </section>

</div>
