<div id="portfolio-page"> 
  <header>
    <div class="container">
      <h1>My Work</h1>
    </div>
  </header>


  <section id="portfolio">
    <div class="container">
      <div class="portfolio-img">
        <a href="http://samwebb.me" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/sw_website.png" alt="Sam Webb Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://alicejobs.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/alice_jobs_color.png" alt="Alice Jobs Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://easifyjs.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/easify_website.png" alt="Easify.js Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="https://github.com/salexzee/Easify/blob/master/easify.js" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/easifyjs_code.png" alt="Easify.js Code preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://tribaldev.io" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/tribal_dev_color.png" alt="Tribal Dev Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://codingtestsite.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/cts_website.png" alt="CodingTestSite Website preview">
        </a>
      </div>
    </div>
  </section>

  <section id="description">
    <p>Whether you need a brand new website or you need someone to improve and maintain your already existing website, I am your developer. I am also available for full-time, part-time and contractor hire. Contact me for more information.</p>
    <div>
      <%= mail_to "510samwebb@gmail.com", class: "btn" do %>
          Hire Me
        <% end %>
    </div>
  </section>
</div>