<div id="portfolio-page">
  <header>
    <div class="container">
      <h1>My Work</h1>
    </div>
  </header>


  <section id="portfolio">
    <div class="container">

      <div class="portfolio-img">
        <a href="https://usnames.herokuapp.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/usnames_website.png" alt="U.S. Names API Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="https://mealpicker.herokuapp.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/mealpicker_website.png" alt="Mealpicker Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://samwebb.me" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/sw_website.png" alt="Sam Webb Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="https://askandanswer.herokuapp.com/" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/askandanswer_website.png" alt="Ask and Answer Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://alicejobs.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/alice_jobs_color.png" alt="Alice Jobs Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://easifyjs.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/easify_website.png" alt="Easify.js Website preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="https://github.com/salexzee/Easify/blob/master/easify.js" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/easifyjs_code.png" alt="Easify.js Code preview">
        </a>
      </div>

      <div class="portfolio-img">
        <a href="http://codingtestsite.com" target="_blank">
          <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/portfolio/cts_website.png" alt="CodingTestSite Website preview">
        </a>
      </div>
    </div>
  </section>

  <section id="description">
    <p>Whether you need a brand new website or you need someone to improve/maintain your already existing website, I am your developer. I love coding with people who have a different style than I do, so if you have a project or idea, let's collaborate.</p>
    <div>
      <%= mail_to "510samwebb@gmail.com", class: "btn" do %>
          Email Me
        <% end %>
    </div>
  </section>
</div>
