<header class="pages-header">
	<h1>Sam Webb</h1>
	<h3><span class="ruby">Ruby</span> Developer</h3>
</header>

<section class="main-content">
	<p>Hello, and welcome to my little home on the internet. I'm Sam Webb and I'm a <span class="ruby">Ruby</span> Developer. Some might consider me a Full-Stack Developer due to my knowledge on the front-end as well as the back-end of web applications. I'm originally from California's Bay Area, but I currently reside in Australia.</p>
	<p>I very recently started to learn <span class="ruby">Ruby</span>. Before, I used PHP to create web applications and Python for general scripting. I still have a fondness for Python, but I've made the decision to dive fully into <span class="ruby">Ruby</span> for all of my programming needs. Now, for web applications, I use <span class="ruby">Ruby</span> on Rails. It's an amazing framework and it makes it very easy for multiple developers to work on the same project.</p>
	<p>If you need a new web application for personal or professional use, feel free to contact me to build it or just as a consultant. I'll be moving back to the States during the first few months of 2016 and I'll be available for full-time hire at that time.</p>
</section>
