<header class="pages-header">
	<h1>Portfolio</h1>
</header>
<section class="main-content">
	<ul class="portfolio">
		<li class="portfolio-block">
			<a href="http://salexzee.github.io/getTreeJSON/">
				<%= image_tag("gettreejson-480x358.png") %>
				<h3>GetTreeJSON</h3>
				<p>A JavaScript plugin I created for easily accessing the Team Treehouse JSON API.</p>
			</a>
		</li>
	</ul>
</section>