<header class="pages-header">
	<h1>Portfolio</h1> 
</header>
<section class="container">
	<ul class="portfolio">

		<li class="portfolio-block">
			<a href="http://alicejobs.com/">
				<%= image_tag("alicejobs.png") %>
				<h3>Alice Jobs</h3>
				<p>An application I created for posting and searching for local jobs. This project was built using Rails and Bootstrap.</p>
			</a>
		</li>

		<li class="portfolio-block">
			<a href="http://tribaldev.io/">
				<%= image_tag("tribal.png") %>
				<h3>TribalDev</h3>
				<p>The TribalDev blog I helped create using Rails along with some interesting JavaScript effects.</p>
			</a>
		</li>
	
		<li class="portfolio-block">
			<a href="http://salexzee.github.io/getTreeJSON/">
				<%= image_tag("gettreejson.png") %>
				<h3>GetTreeJSON</h3>
				<p>A JavaScript plugin I created for easily accessing the Team Treehouse JSON API.</p>
			</a>
		</li>

		<li class="portfolio-block">
			<a href="http://codingtestsite.com/">
				<%= image_tag("cts.png") %>
				<h3>CodingTestSite</h3>
				<p>My personal blog site written in PHP, using Bootstrap for styling.</p>
			</a>
		</li>

	</ul>
</section>
