<div class="container projects">
	<h1 class="project-title">Alice Jobs</h1>
	<%= image_tag 'aj.png' %>
	<p class="project-text">Alice Jobs is a site I built using Ruby on Rails. The goal of the site was to build a fully functional web application where users could sign in and create job listings. Others could then come by, see the listings and be lead to a page to actually apply for the job. I used Bootstrap for a lot of the main styling with a few minor tweaks.</p>
</div>
