<div class="container">
	<h2>Check out some of these sweet projects!</h2>
</div>

<div class="container projects">
	<h3 class="project-title">Project Title</h3>
	<img class="project-image">
	<p class="project-text"></p>
</div>
