/*
 *= require_tree .
 *= require_self
*/


/***********/
/* Imports */
/***********/
@import 'variables';


/********************/
/* Universal Styles */
/********************/
html {
	height: 100%;
}

html,
body {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	color: $black;
	font-family: $primary-font-stack;
	padding-bottom: 354px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-stack;
	margin: 0;
}

.container {
	width: 70%;
	margin: 0 auto;
}


/**********************/
/* Logged In User Bar */
/**********************/
.user-top-bar {
	background: #666;
	top: 0;
	left: 0;
	color: white;
	position: fixed;
	border-radius: 0 0 5px 0;
	font-size: .8em;
	z-index: 2;

	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
	p {
		display: inline-block;
		margin: 5px 10px;
	}
}


/******************/
/* Flash Messages */
/******************/
.notice,
.alert {
	position: fixed;
	bottom: 5px;
	right: 5px;
	opacity: .5;
}

.notice {
	color: green;
}

.alert {
	color: red;
}

/***************/


.title {
  margin-bottom: 10px;
  font-size: 2em;
}

.tag-adder {
	width: 50%;
	font-size: 1.4em;
	margin-top: 10px;
}

#show-tags {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		border: 1px solid #555;
		display: inline-block;
		border-radius: 5px 2px 5px 2px;
		transition: border-color .3s;
		margin-right: 5px;
		margin-top: 10px;
	}

	li:hover {
		border-color: $ruby-red;
	}

	li:hover a {
		color: $ruby-red;
	}

	a {
		color: #444;
		text-decoration: none;
		transition: color .3s;
		padding: 4px 7px;
		display: block;
	}
}

.post-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 75px;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: $ruby-red;
  }
}

.submit {
  input[type="submit"] {
    font-size: 5em;
  }
}

.back-link {
	text-decoration: none;
	margin-right: 10px;
}

.ruby {
	color: $ruby-red;
}

.nav {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;

	.current {
		color: $ruby-red;
	}

	#main-logo {
		margin-left: 20px;
		margin-top: 10px;
		width: 50px;
	}

	ul {
		margin: 0 20px 0 0;
		padding: 0;
		display: inline-block;
		float: right;
		
		li {
			display: inline-block;
			margin-right: -4px;

			a {
				color: #cfcfcf;
				display: block;
				padding: 10px 10px;
				text-decoration: none;
				font-size: .75em;
				font-family: $heading-font-stack;
			}

			a:hover {
				color: white;
			}

			.nav-item {
				transition: .2s;
			}
		}
	}
}

/*************/


/*************/
/* Home Page */
/*************/
#home-page {
	header {
		width: 100%;
		min-height: 100vh;
		background: #444 url("https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/my_mac_darken_1500w.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;

  	h1,
  	a {
  		color: white;
  	}

  	h1 {
  		padding-top: 30%;
  		padding-bottom: 30px;
  		font-size: 5em;
  		font-weight: 200;
  	}

  	a {
  		text-decoration: none;
  		border: 2px solid white;
  		padding: 5px 10px;
  		font-size: 1.4em;
  		transition: .2s;
  		margin: 0 15px;
  	}

  	a:hover {
  		background: white;
  		color: black;
  	}
	}

	#intro {
		background: #f1f1f1;

		section {
			width: 50%;
		}

		p {
			font-size: 1.1em;
			color: #555;
			font-weight: 200;
			font-family: 'Work Sans', sans-serif;
		}
	}

	.home-section {
		padding: 80px 0;

		h2 {
			font-size: 1.6em;
			font-weight: normal;
			font-family: $stylish-font-stack;
			text-align: center;
		}
		
		#preview-images {
			margin-top: 30px;
			width: 100%;
			text-align: center;
			margin-bottom: 50px;

			img {
				margin: 0 20px;
				border-radius: 50%;
				width: 200px;
				height: 200px;
				border: 1px solid #666;
				box-shadow: 1px 1px 15px #aaa;
				transition: .2s;
			}

			img:hover {
				box-shadow: 1px 1px 15px #44aa44;
			}
		}

		#more-projects {
			display: block;
			width: 100%;
			text-align: center;
			a {
				text-decoration: none;
				border: 2px solid #777;
				color: #777;
				padding: 10px 15px;
				font-size: 1.2em;
				transition: .2s;
			}

			a:hover {
				background: #777;
				color: white;
			}
			
		}
	}

}

/*************/


.title-text {
	text-align: center;
	font-size: 2.2em;
	padding-top: 100px;
	margin-top: 0;
	margin-bottom: 50px;
}

.index-blog-date,
.index-blog-title {
	text-align: left;
	margin: 0;
	padding: 0;
}

.index-blog-date {
	font-size: 1.3em;
}

.index-blog-title {
	font-size: 1.5em;
}

.index-blog-title a {
	text-decoration: none;
	color: darken($grey, 20);
	transition: .5s;
}

.index-blog-title a:hover {
	color: darken($grey, 50);
	margin-left: 20px;
}

.article-form {
	padding-top: 100px;
}

.form-inputs {
	padding-top: 200px;

	input {
		width: 100%;
		font-size: 2.5em;
		margin-bottom: 25px;
		text-align: center;
		border-radius: 5px;
		border: 1px solid #aaa;
		color: #888;
	}

	input:focus {
		outline: none;
	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		-webkit-text-fill-color: #888 !important;
	}

	.admin_password {
		input {
			color: $ruby-red;
		}

		input:-webkit-autofill {
			-webkit-text-fill-color: $ruby-red !important;
		}
	}
}

.form-actions {
	text-align: center;
	.btn {
		font-size: 2.5em;
		-webkit-appearance: initial;
		background: white;
		padding: 10px 40px;
		border: 1px solid #aaa;
		background: white;
		border-radius: 5px;
		width: 50%;
		color: #888;
		transition: .5s;
	}

	.btn:hover {
		color: #333;
		cursor: pointer;
		border-color: #333;
		background: $light-grey;
	}
}


/*****************/
/* Footer Styles */
/*****************/
.footer {
	width: 100%;
	background: #454545;
	color: #bbb;
	padding: 50px 0 25px 0;
	position: absolute;
	bottom: 0;

	.footer-section:first-child {
		margin-left: 100px;
	}

	.footer-section {
		width: 20%;
		display: inline-block;
		vertical-align: text-top;

		p {
			padding: 0;
			margin: 0;
			font-size: .8em;

			a {
				color: #aaa;
				text-decoration: none;
				transition: .4s;
			}

			a:hover {
				color: $ruby-red;
			}
		}
	}

	h5 {
		text-decoration: underline;
		margin-bottom: 5px;
	}

	.footer-copy {
		font-size: .8em;
		margin-top: 50px;
		text-align: center;

		p {
			margin: 0;
			padding: 0;
		}
	}
}


/*****************/
/* Media Queries */
/*****************/

@media (max-width: 800px) {
	body {
		font-size: .6em;
	}

	#home-page {
		#intro {
			background: #f1f1f1;

			section {
				width: 80%;
				font-size: 1.3em;
			}
		}

		.home-section {
			font-size: 1.3em;
			
			#preview-images {
				margin-bottom: 10px;

				img {
					width: 100px;
					height: 100px;
					margin-bottom: 10px;
				}

				img:hover {
					box-shadow: 1px 1px 15px #aaa;
				}
			}
		}
	}

	.footer {
		text-align: center;
		padding: 30px 0 10px 0;

		.footer-section:first-child {
			margin-left: 0;
		}
		.footer-section {
			width: 40%;
			margin: 0 auto;
			margin-bottom: 20px;
			text-align: left;
		}

		.footer-copy {
			margin-top: 20px;
			text-align: left;
			width: 80%;
		}
	}
}
