/*
 *= require_tree .
 *= require_self
*/

@import 'variables';

html,
body {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

body {
	color: $black;
	font-family: $primary-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-stack;
	margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.ruby {
	color: $ruby-red;
}

.nav {
	text-align: center;
	width: 100%;
	top: 0;
	padding: 30px 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: -4px;

			a {
				color: $grey;
				display: block;
				padding: 10px 30px;
				text-decoration: none;
				font-size: 1.2em;
				font-family: $heading-font-stack;
			}

			a:hover {
				color: $black;
			}

			.nav-item {
				transition: .7s;
			}
		}
	}
}

.index-blog-date,
.index-blog-title {
	text-align: center;
	margin: 0;
	padding: 0;
}

.index-blog-date {
	font-size: 1.3em;
}

.index-blog-title {
	font-size: 1.5em;
}

.index-blog-title a {
	text-decoration: none;
	color: darken($grey, 20);
	transition: .7s;
}

.index-blog-title a:hover {
	color: darken($grey, 50);
}



@media (max-width: 800px) {
	body {
		font-size: .6em;
	}

	.nav {
		border-bottom: none;
		width: 100%;
		margin-left: 0;

		ul {
			width: 100%;
			text-indent: none;
			-webkit-padding-start: 0;
			margin-top: 0;

			li {
				display: block;
				width: 100%;
				border-bottom: 1px solid $grey;

				a {
					padding: 10px 0;
					display: block;
				}
			}
			li:hover {
				background: $light-grey;
			}
		}
	}
}
