/*
 *= require_tree .
 *= require_self
*/

@import 'social';
@import 'variables';

html {
	height: 100%;
}

html,
body {
	position: relative;
}

body {
	margin: 0;
	color: $black;
	font-family: $primary-font-stack;
	position: relative;
	min-height: 100%;
	padding-bottom: 75px;
	padding-top: 75px;
}

a {
	color: $black
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-stack;
	margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.ruby {
	color: $ruby-red;
}

.nav {
	background: white;
	border-bottom: 4px solid $grey;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;

	ul {
		text-align: right;
		margin: 0;

		li {
			display: inline-block;
			margin-right: -4px;

			a {
				color: $grey;
				display: block;
				padding: 10px 30px;
				text-decoration: none;
				font-size: 1.5em;
				font-family: $heading-font-stack;
			}

			a:hover {
				color: $black;
			}

			.nav-item,
			.header-icon {
				transition: .7s;
			}

			.header-icon:hover {
				color: $ruby-red;
				margin-right: 0;
			}
		}
	}
}

.pages-header {
	text-align: center;

	h1 {
		font-size: 5em;
		margin-bottom: 0;
	}

	h3 {
		font-size: 2.5em;
		margin-top: 0;
	}
}

.main-content p {
	font-size: 1.8em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $black;
	padding: 20px 0;
	color: #777;
	text-align: center;
	clear: both;

	p {
		margin-bottom: 0;
		margin-top: 0;
		font-size: .8em;
		display: inline-block;
	}

	ul {
		margin: 0;
		list-style: none;
		display: inline-block;
		padding-left: 0;

		li {
			display: inline-block;
			margin-left: 10px;

			a {
				color: #777;
				text-decoration: none;
			}

			a:hover {
				color: #b22;
			}
		}
	}
}

@media (max-width: 800px) {
	body {
		font-size: .6em;
	}

	.nav {
		border-bottom: none;
		width: 100%;
		margin-left: 0;

		ul {
			width: 100%;
			text-indent: none;
			-webkit-padding-start: 0;
			margin-top: 0;

			li {
				display: block;
				width: 100%;
				border-bottom: 1px solid $grey;

				a {
					padding: 10px 0;
					display: block;
				}
			}
			li:hover {
				background: $light-grey;
			}
		}
	}

	.portfolio {
		.portfolio-block {
			width: 44%;
		}
	}
}
