@import 'variables';

body {
	margin: 0;
	color: $black;
	font-family: $primary-font-stack;
}

a {
	color: $black
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-stack;
}

.ruby {
	color: $ruby-red;
}

.nav {
	background: $white;
	border-bottom: 2px solid $grey;
	width: 70%;
	margin: 0 auto;

	ul {
		text-align: center;

		li {
			display: inline-block;

			a {
				color: $grey;
				display: block;
				padding: 10px 30px;
				text-decoration: none;
				font-size: 1.5em;
				font-family: $heading-font-stack;
			}

			a:hover {
				color: $black;
				text-decoration: underline;
			}

			.header-icon:hover {
				text-decoration: none;
				color: $ruby-red;
				margin-right: 0;
			}
		}
	}
}

.pages-header {
	text-align: center;

	h1 {
		font-size: 5em;
		margin-bottom: 0;
	}

	h3 {
		font-size: 2.5em;
		margin-top: 0;
	}
}

.main-content {
	width: 80%;
	margin: 0 auto;
	
	p {
		font-size: 1.8em;
	}
}

.portfolio {
	-webkit-padding-start: 0;


	.portfolio-block {
		width: 30%;
		display: inline-block;
		margin-right: 1%;
		padding: 5px;
		border: 1px solid $grey;
		opacity: .5;
		margin-top: 1.5%;
		border-radius: 15px;

		a {
			color: $black;
			text-decoration: none;
		}

		img {
			width: 100%;
			border-radius: 15px 15px 0 0;
		}

		h3 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
			font-size: 1em;
		}
	}

	.portfolio-block:hover {
		opacity: 1;
	}
}


@media (max-width: 800px) {
	body {
		font-size: .6em;
	}

	.nav {
		border-bottom: none;
		width: 100%;
		margin-left: 0;

		ul {
			width: 100%;
			text-indent: none;
			-webkit-padding-start: 0;
			margin-top: 0;

			li {
				display: block;
				width: 100%;
				border-bottom: 1px solid $grey;

				a {
					padding: 10px 0;
					display: block;
				}
			}
			li:hover {
				background: $light-grey;
			}
		}
	}

	.portfolio {
		.portfolio-block {
			width: 44%;
		}
	}
}
