@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Montserrat:400,700);

/* Fonts */
$heading-font-stack: 'Montserrat', sans-serif;
$primary-font-stack: 'Noto Sans', sans-serif;

/* Colors */
$white: #fff;
$black: #2b2b2b;
$grey: #999;
$light-grey: #eaeaea;
$ruby-red: #b22;