		<footer class="container footer">

			<div class="footer-section">
        <h5>Contact</h5>
        <p><a href="https://twitter.com/SamTheWebb">Twitter</a></p>
        <p><a href="https://github.com/salexzee">GitHub</a></p>
        <p><a href="https://www.linkedin.com/in/sam-webb-42331698">LinkedIn</a></p>
        <p><a href="mailto:510samwebb@gmail.com?subject=Hey%20Sam!">Email</a></p>
        <p><a href="http://stackoverflow.com/users/3674548/sam">Stack Overflow</a></p>
      </div>

      <div class="footer-section">
        <h5>Projects</h5>
        <p><a href="http://easifyjs.com/">Easify.js</a></p>
        <p><a href="http://alicejobs.com/">Alice Jobs</a></p>
      </div>

      <!-- Copyright section -->
      <div class="footer-copy">
        <p>&copy;Copyright Sam Webb. All rights reserved.</p>
      </div>

		</footer>
	</body>
</html>
