		<footer class="container footer">

			<div class="footer-section">
        <h5>Contact</h5>
        <p><a href="mailto:510samwebb@gmail.com?subject=Hey%20Sam!">Email</a></p>
        <p><a href="https://twitter.com/SamTheWebb" target="_blank">Twitter</a></p>
        <p><a href="https://github.com/salexzee" target="_blank">GitHub</a></p>
        <p><a href="https://www.linkedin.com/in/sam-webb-42331698" target="_blank">LinkedIn</a></p>
        <p><a href="http://stackoverflow.com/users/3674548/sam" target="_blank">Stack Overflow</a></p>
      </div>

      <div class="footer-section">
        <h5>Personal Projects</h5>
        <p><a href="http://easifyjs.com/" target="_blank">Easify.js</a></p>
        <p><a href="http://alicejobs.com/" target="_blank">Alice Jobs</a></p>
        <p><a href="https://github.com/salexzee/PrimePy" target="_blank">PrimePy</a></p>
        <p><a href="http://codingtestsite.com/" target="_blank">CodingTestSite</a></p>
        <p><a href="https://github.com/salexzee/serialize" target="_blank">Serialize</a></p>
      </div>

      <div class="footer-section">
        <h5>Open Source Contribs</h5>
        <p><a href="https://github.com/stympy/faker" target="_blank">faker</a></p>
      </div>

      <div class="footer-section">
        <h5>Blog Categories</h5>
        <% most_tags = ActsAsTaggableOn::Tag.most_used(5) %>
        <% most_tags.each do |tag| %>
          <% if tag.taggings_count > 0 %>
            <p><a href="<%= articles_path(:tag => tag.name) %>"><%= tag.name %></a> - <span><%= tag.taggings_count %></span></p>
          <% end %>
        <% end %>
      </div>

      <!-- Copyright section -->
      <div class="footer-copy container">
        <p>&copy;2015-<%= Time.now.year %> Sam Webb. All rights reserved.</p>
      </div>

		</footer>
	</body>
</html>
