	<footer class="footer">
		<p>&copy;<%= Time.now.year %> Sam Webb Development. All rights reserved.</p>
		<ul>
			<li><a href="https://twitter.com/SamTheWebb" class="footer-icon"><span class="icon-twitter"></span></a></li>
			<li><a href="https://github.com/salexzee" class="footer-icon"><span class="icon-github"></span></a></li>
		</ul>
	</footer>

	</body>
</html>