		<footer class="container footer">
			<% if admin_signed_in? %>
  		  <%= link_to('logout', destroy_admin_session_path) %>
			<% else %>
  			<%= link_to('login', new_admin_session_path) %>
			<% end %>
		</footer>
	</body>
</html>